MONGODB_URI=
PROJECT_NAME=
ORIGIN=http://localhost:3000
JWT_SECRET_KEY=justentertexthere... anything

AWS_BUCKET_NAME=my-bucket-name
AWS_BUCKET_REGION=us-east-1
AWS_BUCKET_ACCESS_KEY=
AWS_BUCKET_SECRET_ACCESS_KEY=